@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* resets: */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
}
/* project styling */
* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-x-main: darkred;
  --color-o-main: darkblue;

  --color-x-secondary: lightpink;
  --color-o-secondary: lightblue;
  --color-bg: #f3f4f6;
  --box-shadow-standard: 0px 15px 15px -3px rgba(0, 0, 0, 0.1);
}
body {
  background-color: var(--color-bg);
  margin: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 700px;
  width: calc(100vw - 4rem);
  gap: 2rem;
}
header {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#btn-restart {
  align-self: flex-end;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
background-color: white;
  border: 1px solid black;
}
.use-color-x {
  --color-current-main: var(--color-x-main);
  --color-current-secondary: var(--color-x-secondary);
  --current-letter: "X";
}
.use-color-o {
  --color-current-main: var(--color-o-main);
  --color-current-secondary: var(--color-o-secondary);
  --current-letter: "O";
}
.ttt-grid {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  flex-shrink: 1;
}

.ttt-square {
  box-shadow: var(--box-shadow-standard);
  background-color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.3s, outline 0.3s;
  box-shadow: 1em black;
  outline: 3px solid transparent;
}

.ttt-square:not(.square-o, .square-x):hover,
.ttt-square:not(.square-o, .square-x):focus {
  transform: scale(1.03);
  transition: transform 0.3s, outline 0.3s;
  outline: 3px solid var(--color-current-secondary);
}
.ttt-square::after {
  position: absolute;
  content: var(--current-letter);
  opacity: 0;
  color: var(--color-current-secondary);
}
.ttt-square:not(.square-o, .square-x):hover::after,
.ttt-square:not(.square-o, .square-x):focus::after {
  opacity: 1;
  transition: opacity 0.3s;
}

* {
  /* border: 0.5px solid red; */
}

.square-x {
  color: var(--color-x-main);
  background-color: var(--color-x-secondary);
}
.square-o {
  color: var(--color-o-main);
  background-color: var(--color-o-secondary);
}

.modal-box {
  display: block;
  position: fixed;
  background-color: white;
  padding: 3rem;
  z-index: 15;
}
.modal-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#cur-player {
  background-color: var(--color-current-secondary);
  color: var(--color-current-main);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
}
